@page "/countrylist"
@using MauiApp1.Services
@using MauiApp1.Components.Models
@inject CountriesListService ListofCountriesService
@inject SelectedCountryService SelectedCountryService
@inject NavigationManager Navigation

<div class="content">
    <div class="content-section container countryList">
        @if (CountriesList == null)
            {
                @* <p>Loading...</p> *@
                <div class="loader-container">
                    <div class="im-loader">
                        <span class="im-text">IM</span>
                        <div class="im-spinner"></div>
                    </div>
                </div>
            }
            else if (CountriesList.Count == 0)
            {
                <p>No countries found.</p>
            }
            else
            @* @if (CountriesList != null && CountriesList.Any()) *@
            {
            <h1 class="m-0 pb-4 text-center fw-bold">Yacht and Private Jet <span class="text-primary">CO2 emissions</span> for sustainable living</h1>
            <ul class="row g-2">
                @foreach (var p in CountriesList)
                {
                <li class="col-6">
                        <div class="countryListContent" style="background-image:url(@p.imagePath)">
                        @* <img src="@p.ImagePath" alt="@p.sCountryName" /> *@
                        <NavLink href="@($"/countrydata/{p.id}/{Uri.EscapeDataString(string.IsNullOrWhiteSpace(p.sCountryName) ? "Unknown" : p.sCountryName)}")">
                            @* <div class="mask"></div> *@
                            <h4 class="fw-bold">@(p.sCountryName ?? "Unknown")</h4>                            
                        </NavLink>
                    </div>
                </li>
                }
            </ul>
            }
    </div>
</div>
@* <NavLink href="/login">Back</NavLink> *@
@code {
    private List<CountryLists> CountriesList;

    // public string countryName = "";
    protected override async Task OnInitializedAsync()
    {
        try
        {
            CountriesList = await ListofCountriesService.GetCountriesAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine("Error fetching Countries: " + ex.Message);
            CountriesList = new List<CountryLists>();
        }
    }
    // private void OnCountrySelected(CountryLists p)
    // {
    //     SelectedCountryService.SelectedCountryName = p.CountryName;
    //     Navigation.NavigateTo($"/countrydata/{p.ID}");
    // }
    // private void SetSelectedCountry(string name)
    // {
    //     SelectedCountryService.SelectedCountryName = name;
    // }
}
