@page "/dubai"
@inject NavigationManager Navigation
@inject IJSRuntime JS
@layout MauiApp1.Components.Layout.MainLayout
@* @using Microsoft.AspNetCore.Components *@
<div class="slider">
    <div class="swiper col-1-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="#">
                    <div class="mask"></div>
                    <img src="images/events/abu-dhabi.png" />
                    <div class="image-caption">
                        <h4 class="title-post">Omaya Yachts celebrates a successful week at the International Multihull Show in La Grande-Motte</h4>
                        <span class="category-tag">Yachts <i class="fas fa-circle"></i></span>
                        <span class="date">25 April 2025</span>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#">
                    <div class="mask"></div>
                    <img src="images/events/apex-vid1.png" />
                    <div class="image-caption">
                        <h4 class="title-post">SAY 52 Undergoing Final Preparations Ahead of Palma Boat Show</h4>
                        <span class="category-tag">MEDIA ALERT <i class="fas fa-circle"></i></span>
                        <span class="date">April, 2025</span>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#">
                    <div class="mask"></div>
                    <img src="images/events/apex-vid2.png" />
                    <div class="image-caption">
                        <h4 class="title-post">This Earth Day, Arksen and 10% For The Ocean Announce Co-Production</h4>
                        <span class="category-tag">News <i class="fas fa-circle"></i></span>
                        <span class="date">22 April 2025</span>
                    </div>
                </a>
            </div>
        </div>
        <!-- Optional navigation -->
    @* <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div> *@
        <div class="swiper-pagination"></div>
    </div>
</div>
<div class="page-title d-flex px-3 py-3 align-items-center">
    <h2>Dubai<span class="fs-2">@GetSubtitle()</span></h2>
    <NavLink class="btn btn-sm text-muted ms-auto" href="/"><i class="fas fa-home"></i> Home</NavLink>
</div>
<div class="notification-list img-list-btn" style="@GetListVisibility()">
    <ul class="list-group gap-2">
        <li class="list-group-item border-0" style="background-image:url(images/category/c_5.png)">
            <NavLink @onclick="@(() => ShowTab("events"))" class="@GetTabClass("events")">
                <div class="mask"></div>
                <div class="image-caption">
                    <h4>Events</h4>
                </div>
            </NavLink>
        </li>
        <li class="list-group-item border-0" style="background-image:url(images/category/c_2.png)">
            <NavLink @onclick="@(() => ShowTab("investor"))" class="@GetTabClass("investor")">
                <div class="mask"></div>
                <div class="image-caption">
                    <h4>Investor</h4>
                </div>
            </NavLink>
        </li>
        <li class="list-group-item border-0" style="background-image:url(images/category/c_1.png)">
            <NavLink @onclick="@(() => ShowTab("yachting"))" class="@GetTabClass("yachting")">
                <div class="mask"></div>
                <div class="image-caption">
                    <h4>Yachting</h4>
                </div>
            </NavLink>
        </li>
        <li class="list-group-item border-0" style="background-image:url(images/category/c_4.png)">
            <NavLink @onclick="@(() => ShowTab("luxury"))" class="@GetTabClass("luxury")">
                <div class="mask"></div>
                <div class="image-caption">
                    <h4>Luxury</h4>
                </div>
            </NavLink>
        </li>
        <li class="list-group-item border-0" style="background-image:url(images/category/c_3.png)">
            <NavLink @onclick="@(() => ShowTab("tourist"))" class="@GetTabClass("tourist")">
                <div class="mask"></div>
                <div class="image-caption">
                    <h4>Tourist</h4>
                </div>
            </NavLink>
        </li>
    </ul>
</div>
<div class="tab-content content">
    @if (activeTab == "events")
    {
    <a class="back-btn-footer" @onclick="() => ShowTab(null)"><i class="fas fa-long-arrow-alt-left"></i></a>
    <div>            
        <div class="trending-topic">
            <div class="container">
                <div class="swiper col-3-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a class="news-button" @onclick="@(() => OpenPanel("news"))" @onclick:preventDefault>
                                <div class="mask"></div>
                                <img src="images/luxury/luxury1.png" alt="">
                                <div class="image-caption">
                                    <h4>News</h4>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="news-button" @onclick="@(() => OpenPanel("editorial"))" @onclick:preventDefault>
                                <div class="mask"></div>
                                <img src="images/luxury/luxury2.png" alt="">
                                <div class="image-caption">
                                    <h4>Editorial</h4>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <div class="news-button" @onclick="@(() => OpenPanel("videos"))" @onclick:preventDefault>
                                <div class="mask"></div>
                                <img src="images/luxury/luxury3.jpg" alt="">
                                <div class="image-caption">
                                    <h4>Videos</h4>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="news-button" @onclick="@(() => OpenPanel("mediaEvent"))" @onclick:preventDefault>
                                <div class="mask"></div>
                                <img src="images/tourism/t1-1.jpg" alt="">
                                <div class="image-caption">
                                    <h4>Media Event</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
        </div>
        <div class="content-section">
            <div class="section-title px-3">
                <h4>Latest News</h4>
            </div>
            <div class="notification-list">
                <ul class="list-group gap-2">
                    <li class="list-group-item border-0">
                            <a href="#" class="media" @onclick="@(() => OpenPanel("panel-1"))" @onclick:preventDefault>
                            <div class="media-100 rounded-3 border">
                                <img src="images/events/apex-vid3.png" alt="">
                            </div>
                            <div class="list-content">
                                <h6 class="title">Investor Montenegro - LUSTICA BAY</h6>
                                <p class="m-0 small">Luštica Bay is a marina town offering waterfront residences, hotels, berths, golf &amp; lifestyle facilities...</p>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item border-0">
                            <a href="#" class="media" @onclick="@(() => OpenPanel("panel-2"))" @onclick:preventDefault>
                            <div class="media-100 rounded-3 border">
                                <img src="images/events/apex-vid2.png" alt="">
                            </div>
                            <div class="list-content">
                                <h6 class="title">Investor Montenegro - THE CHEDI LUSTICA BAY</h6>
                                <p class="m-0 small">Where tradition enchants and nature entices...</p>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item border-0">
                            <a href="#" class="media" @onclick="@(() => OpenPanel("panel-3"))" @onclick:preventDefault>
                            <div class="media-100 rounded-3 border">
                                <img src="images/events/apex-vid1.png" alt="">
                            </div>
                            <div class="list-content">
                                <h6 class="title">Investor Montenegro</h6>
                                <p class="m-0 small">TOWN IN THE MAKING, LUŠTICA BAY, PRESENTS MONTENEGRO'S FIRST GOLF RESIDENCES: THE PEAKS</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    }
    else if (activeTab == "investor")
    {
        <a class="back-btn-footer" @onclick="() => ShowTab(null)"><i class="fas fa-long-arrow-alt-left"></i></a>
        <div>
            <div class="notification-list">
                <ul class="list-group pdf-gallery">
                    <li class="list-group-item">
                        <a class="media pdf-fancybox" data-fancybox data-type="iframe" data-src="https://docs.google.com/gview?embedded=true&url=https://platformfactory.in/SDNA/IM/pdf/dubai/Family Office Investor.pdf" href="javascript:;">
                            <div class="media-50 rounded-3 border">
                                <img src="images/investor/inv-family.png" alt="">
                            </div>
                            <div class="list-content">
                                <h6 class="title">Family Office Investor</h6>
                                <p class="m-0 small">World-class superyacht marina.</p>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a class="media pdf-fancybox" data-fancybox data-type="iframe" data-src="https://docs.google.com/gview?embedded=true&url=https://platformfactory.in/SDNA/IM/pdf/dubai/BUPA healthcare.pdf" href="javascript:;">
                            <div class="media-50 rounded-3 border">
                                <img src="images/investor/icn-bupa.jpg" alt="">
                            </div>
                            <div class="list-content">
                                <h6 class="title">BUPA healthcare</h6>
                                <p class="m-0 small">More than healthcare this is lifecare our most extensive worldwide protection.</p>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a class="media pdf-fancybox" data-fancybox data-type="iframe" data-src="https://docs.google.com/gview?embedded=true&url=https://platformfactory.in/SDNA/IM/pdf/dubai/Carbon Credits.pdf" href="javascript:;">
                            <div class="media-50 rounded-3 border">
                                <img src="images/investor/icn-carbon.png" alt="">
                            </div>
                            <div class="list-content">
                                <h6 class="title">Carbon Credits</h6>
                                <p class="m-0 small">Is there credit in carbon removal?</p>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a class="media pdf-fancybox" data-fancybox data-type="iframe" data-src="https://docs.google.com/gview?embedded=true&url=https://platformfactory.in/SDNA/IM/pdf/dubai/Plastic straws.pdf" href="javascript:;">
                            <div class="media-50 rounded-3 border">
                                <img src="images/investor/icn-straw.jpg" alt="">
                            </div>
                            <div class="list-content">
                                <h6 class="title">Plastic straws</h6>
                                <p class="m-0 small">Closing the joy gap.</p>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a class="media pdf-fancybox" data-fancybox data-type="iframe" data-src="https://docs.google.com/gview?embedded=true&url=https://platformfactory.in/SDNA/IM/pdf/dubai/Oryzon Epsylon fund.pdf" href="javascript:;">
                            <div class="media-50 rounded-3 border">
                                <img src="images/investor/icn-orizon.jpg" alt="">
                            </div>
                            <div class="list-content">
                                <h6 class="title">Oryzon Epsylon fund</h6>
                                <p class="m-0 small">Adding value to Alternative Investment: Oryzon Epsilon Fund</p>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a class="media pdf-fancybox" data-fancybox data-type="iframe" data-src="https://docs.google.com/gview?embedded=true&url=https://platformfactory.in/SDNA/IM/pdf/dubai/Adopting sustainability.pdf" href="javascript:;">
                            <div class="media-50 rounded-3 border">
                                <img src="images/investor/icn-adopting.jpg" alt="">
                            </div>
                            <div class="list-content">
                                <h6 class="title">Adopting sustainability</h6>
                                <p class="m-0 small">Consumption is one of the most important aspects that require focus.</p>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a class="media pdf-fancybox" data-fancybox data-type="iframe" data-src="https://docs.google.com/gview?embedded=true&url=https://platformfactory.in/SDNA/IM/pdf/dubai/Igor real terms.pdf" href="javascript:;">
                            <div class="media-50 rounded-3 border">
                                <img src="images/investor/icn-igor.jpg" alt="">
                            </div>
                            <div class="list-content">
                                <h6 class="title">Igor real terms</h6>
                                <p class="m-0 small">Continuing our look at how best to protect your estate and wealth for future generations</p>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a class="media pdf-fancybox" data-fancybox data-type="iframe" data-src="https://docs.google.com/gview?embedded=true&url=https://platformfactory.in/SDNA/IM/pdf/dubai/Luxury asset watches.pdf" href="javascript:;">
                            <div class="media-50 rounded-3 border">
                                <img src="images/investor/icn-luxury.jpg" alt="">
                            </div>
                            <div class="list-content">
                                <h6 class="title">Luxury asset watches</h6>
                                <p class="m-0 small">A new anniversary Breguet Marine to savour.</p>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a class="media pdf-fancybox" data-fancybox data-type="iframe" data-src="https://docs.google.com/gview?embedded=true&url=https://platformfactory.in/SDNA/IM/pdf/dubai/Venture Capital.pdf" href="javascript:;">
                            <div class="media-50 rounded-3 border">
                                <img src="images/investor/icn-venture.jpg" alt="">
                            </div>
                            <div class="list-content">
                                <h6 class="title">Venture Capital</h6>
                                <p class="m-0 small"> In contrast to the world we see emerging today, our second issue was largely written under lockdown.</p>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a class="media pdf-fancybox" data-fancybox data-type="iframe" data-src="https://docs.google.com/gview?embedded=true&url=https://platformfactory.in/SDNA/IM/pdf/dubai/XLX Capital - Mr Igor Zjalic.pdf" href="javascript:;">
                            <div class="media-50 rounded-3 border">
                                <img src="images/investor/icn-capital.jpg" alt="">
                            </div>
                            <div class="list-content">
                                <h6 class="title">XLX Capital</h6>
                                <p class="m-0 small">We speak to experienced asset manager and founder of XLX Capital...</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    }
    else if (activeTab == "yachting")
    {
            <a class="back-btn-footer" @onclick="() => ShowTab(null)"><i class="fas fa-long-arrow-alt-left"></i></a>
        <div>
            <h5 class="header-sticky bg-black text-white p-3 mb-0">Yacht Management</h5>
            <div class="image-holder">
                <div class="image-container" style="background-image: url(images/yachting/yachting-header.jpg);padding-top: 38%;"></div>
            </div>
                <div class="container content-section bg-white">
                <h6 class="title">Navigating the Luxu.ry Yacht Market</h6>
                <p>At some point in their wealth journey, many ultra-high-net-worth individuals and families often consider expanding and diversifying their portfolios to include luxury and non-standard assets.</p>
                <p>For some, this might mean investing in art collections, antiquities, jewelery- even fine wine which, traditionally considered more of a niche' investment, is increasingly becoming a mainstream alternative asset.</p>
                <p>For those looking to gratify an adventurous spirit, however, the addition of a yacht to an investment portfolio provides an unparalleled opportunity to explore vast oceans and hidden paradises, coupled with the satisfaction of owning a remarkable, tangible asset.</p>
                <p>In fact, recent forecasts show it is full steam ahead for the luxury yacht market, with global luxury yacht market revenue expected to be worth USD 8,812.4 million by the end of 2023, and an enormous USD 19,924.7 million by 2033.</p>
                <p><b>Streamlining the process</b></p>
                <p>It isn't all plain sailing, though. Owning an impressive and significant luxury asset such as a yacht comes too with commensurate administrative, legal and financial considerations.</p>
                <p>The administrative demands of yacht management can be a burdensome tether to those searching for the freedom of the open ocean, and engaging the services of a yacht management provider will be an essential first step when purchasing a vessel.</p>
                <hr>
                <p>Vessel registration procedures, flagging, maritime regulations and tax implications (to name a few) can vary enormously between jurisdictions and the management services provider can help tailor the approach as appropriate to the chosen location.</p>
                <p>Put simply, an appropriate yacht management expert will free up the owner to enjoy their investment, including taking on responsibility for Day to day' operational requirements such as crew staffing, recruitment and visa applications, pay and logistical coordination.</p>
                <p><b>Location, location, location...</b></p>
                <p>As outlined above, the jurisdiction in which the vessel is registered can have huge legal, financial and operational implications and there are a number of factors that need to be taken into account.</p>
                <p>Firstly, each flag state will have its own set of maritime laws and regulations and it is important to make sure these align with the intended use of the vessel. Choosing a politically stable country with a long-standing reputation of maritime excellence - such as Cayman, for instance - can be of enormous value both financially and practically, depending on the intended use of the yacht.</p>
            </div>
            <div class="p-3 bg-black text-light clearfix">
                <img src="images/yachting/yachting1.jpg" class="rounded float-start me-3 mb-3" alt="..." style="max-width: 50%;">
                <p>It is also prudent to seek advice on the varying tax requirements and implications including VAT, import duties, annual tax etc... as some jurisdictions will offer far more favorable tax conditions. Yacht owners and their advisers should also look to answer questions such as how easy the yacht registration process is in their chosen jurisdiction, whether there are any specific crew requirements imposed in that country, how easy it is to take out an insurance policy on a vessel registered under a particular flag etc.</p>
                <p>The above are just a few of the vitally important considerations to evaluate before making a decision, but the full list of crosschecks is extensive. Even the size of the vessel will influence where a yacht can be registered - in some countries larger yachts may need to comply with additional safety and certification requirements. Longer vessels may also be prevented from docking in certain cities as was seen recently with Naples introducing a strict 75 meter length limit for yachts looking to dock in Italy's third-largest city, to the chagrin of many wealthy owners.</p>
            </div>
                <div class="container content-section bg-white clearfix">
                <h6 class="title">Ownership structures: charting the right course</h6>
                <img src="images/yachting/yachting2.png" class="img-thumbnail rounded float-end ms-3" alt="..." style="max-width: 50%;max-height: 200px;">
                <p>The ownership structure of the yacht is another important aspect to get right. Holding the yacht in an appropriate legal structure - such as a trust - can provide significant benefits as compared to owning the vessel as an individual.</p>
                <p>Trusts, for instance, have evolved as an estate-planning tool that can help families build and preserve generational wealth (and help break the so-called "shirtsleeves to shirtsleeves" curse).</p>
                <p>Placing the yacht in a trust can make it much simpler to establish clear instructions for the management and transfer of the vessel to beneficiaries after the owner's passing. A proactive approach to estate planning can help avoid potential disputes among family members later down the line, and help ensure the continued upkeep and enjoyment of the yacht.</p>
                <p>Assets transferred to a trust are also (depending on the type of trust) no longer considered to form part of the settlor's property. The trust acts as a separate legal entity, ring-fencing the yacht's ownership from the personal and business liabilities of the owner. Placing a yacht in a trust can therefore provide an enhanced level of asset protection, reducing the risk of the vessel being seized - including as a result of a contentious legal scenario such bankruptcy or divorce.</p>
                <p>
                    Engaging the appropriate advisors early on in the acquisition process and seeking counsel on the most effective structure for holding assets according to individual requirements and preferences is crucial when looking at purchasing any luxury asset, especially a yacht.
                </p>
                <p>At Saffery, we offer a comprehensive range of services for luxury yachts. Whether you are a yacht owner, captain, family office, technical manager, financier, or an industry professional, our team will deliver timely and bespoke solutions to help protect and make the most of these luxury assets.</p>
            </div>
            <h5 class="header-sticky bg-black text-white p-3 mb-0">Yachting This is it</h5>
            <div class="image-holder">
                <div class="image-container" style="background-image: url(images/yachting/yachting-header2.jpg);padding-top: 50%;"></div>
            </div>
                <div class="container content-section bg-black text-white">
                <h4 class="title text-light">This Is It</h4>
                <h6 class="text-light">Giovanni Costantino - Innovation and dedication for</h6>
                <h6 class="text-light">Yacht Owners</h6>
                <p>The 750GT vessel, which measures 43.5 meters in length and 14.5 meters in width, will make its world premiere at the Monaco Yacht Show next week, which takes place 27-30 September 2023 in Port Hercule.</p>
                <p><b>Interview with Giovanni Costantino, founder and CEO of The Italian Sea Group</b></p>
                <div class="app-accordion accordion text-dark">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingAcoordYacht1">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#acoordYacht1" aria-expanded="false" aria-controls="acoordYacht1">
                                <div class="acco-title">Is "This is It" the owner's first yacht?</div>
                                <span class="checkmark"></span>
                            </button>
                        </h2>
                        <div id="acoordYacht1" class="accordion-collapse collapse" aria-labelledby="headingAcoordYacht1" data-bs-parent="#luxury">
                            <div class="accordion-body">
                                <p>Mr. Tasos Papanastasiou has owned other yachts in the past focusing always on unique features that will captivate anyone who sees them. He is always passionate about designing new projects giving a lot of attention to performance, comfort leaving and captivating looks.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingAcoordYacht2">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#acoordYacht2" aria-expanded="false" aria-controls="acoordYacht2">
                                <div class="acco-title">Why did the owner decide to have a catamaran built?</div>
                                <span class="checkmark"></span>
                            </button>
                        </h2>
                        <div id="acoordYacht2" class="accordion-collapse collapse" aria-labelledby="headingAcoordYacht2" data-bs-parent="#luxury">
                            <div class="accordion-body">
                                <p>The owner wanted to build one of the biggest motor catamarans worldwide knowing that this type of yacht would dominate the market in the next few years. A catamaran has a large beam (approx. 1.5 a regular yacht) giving the opportunity of building luxurious and very spacious areas offering the highest standards of comfort and facilitation. It is the love that the owner has in yachting that inspired him with this idea and design, an idea of a yacht should look in order to satisfy all his needs and desires.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingAcoordYacht3">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#acoordYacht3" aria-expanded="false" aria-controls="acoordYacht3">
                                <div class="acco-title">Why did the owner trust The Italian Sea Group with the building?</div>
                                <span class="checkmark"></span>
                            </button>
                        </h2>
                        <div id="acoordYacht3" class="accordion-collapse collapse" aria-labelledby="headingAcoordYacht3" data-bs-parent="#luxury">
                            <div class="accordion-body">
                                <p>Mr. Tasos Papanastasiou knew that TISG would understand in details his inspiration, providing him with additional touches and ideas. TISG is a group that loves challenges and is inspired by anything unique. Passion, attention to detail, refined style and cutting- edge design, tradition, know-how and craftsmanship, enthusiasm, dedication to perfection, creativity and professionalism; are the values that lead TISG to develop and build unique yachts so well appreciated all over the world, a fine example of EXCELLENCE and MADE IN ITALY.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingAcoordYacht4">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#acoordYacht4" aria-expanded="false" aria-controls="acoordYacht4">
                                <div class="acco-title">What triggered the spaceship design like, any specific passion from the owner?</div>
                                <span class="checkmark"></span>
                            </button>
                        </h2>
                        <div id="acoordYacht4" class="accordion-collapse collapse" aria-labelledby="headingAcoordYacht4" data-bs-parent="#luxury">
                            <div class="accordion-body">
                                <p>The owner is considered as one of the best online marketers in the world. Therefore the concept of designing futuristic products (like a spaceship) that will conquer the market and people's attention is part of his everyday life. The name THIS IS IT explains every detail the owner wanted to express by building this yacht and its unique appearance.</p>
                                <div class="image-holder mb-3">
                                    <div class="image-container" style="background-image: url(images/yachting/yachting3.jpg);padding-top: 33%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingAcoordYacht5">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#acoordYacht5" aria-expanded="false" aria-controls="acoordYacht5">
                                <div class="acco-title">There are some rare materials involved in the interior design, can you let us know why/how they were chosen?</div>
                                <span class="checkmark"></span>
                            </button>
                        </h2>
                        <div id="acoordYacht5" class="accordion-collapse collapse" aria-labelledby="headingAcoordYacht5" data-bs-parent="#luxury">
                            <div class="accordion-body">
                                <p>The interiors mood can be defined as "sporty luxury", according to the exteriors lines. The style is precise, well defined and organically applied to the whole, which thus becomes a single whole, becoming a luxurious and very cool shell, always without missing elegance and refinement. The key point is the contrast between smooth finishes, such as leathers and Alcantara, and more materic ones such as metallic surfaces and sculptural volumes. Noble metals are a strong theme in these interiors: bronze, platinum and gold are used to enhance the luxury feel contrasting the softness of the neutral colour palette. The materials used are the result of a careful research and a great craftsmanship, that necessary for their creation and application on complex surfaces and detailing. Sophistication comes more from substance than decoration, the value is inherent in the used materials themselves.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingAcoordYacht6">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#acoordYacht6" aria-expanded="false" aria-controls="acoordYacht6">
                                <div class="acco-title">When will This is It be available for charter?</div>
                                <span class="checkmark"></span>
                            </button>
                        </h2>
                        <div id="acoordYacht6" class="accordion-collapse collapse" aria-labelledby="headingAcoordYacht6" data-bs-parent="#luxury">
                            <div class="accordion-body">
                                <img src="images/yachting/yachting4.jpg" class="img-thumbnail rounded float-end ms-3 mb-3" alt="..." style="max-width: 50%;max-height: 200px;">
                                <p>THIS IS IT will be available for charter from April 2024</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingAcoordYacht7">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#acoordYacht7" aria-expanded="false" aria-controls="acoordYacht7">
                                <div class="acco-title">Please list the amenities the charterer will enjoy on board.</div>
                                <span class="checkmark"></span>
                            </button>
                        </h2>
                        <div id="acoordYacht7" class="accordion-collapse collapse" aria-labelledby="headingAcoordYacht7" data-bs-parent="#luxury">
                            <div class="accordion-body">
                                <div class="image-holder">
                                    <div class="image-container" style="background-image: url(images/yachting/yachting4.jpg);padding-top: 50%;"></div>
                                </div>
                                <p>This Is It is a luxurious yacht with all the amenities needed to satisfy the most demanding clients. Floor-to-ceiling glass provides light and a futuristic look. Indoor and outdoor spaces flow effortlessly from one to the other, enhancing the feeling of space and providing an opportunity for all guests to enjoy all areas of the yacht without losing the feeling of being outside. She features a wellness area with a spa and a massage room where someone can enjoy a relaxing massage while watching the beautiful sea from a huge glass window. She also has an outdoor Jacuzzi, a cinema under the stars, an amazing bar with a well-trained crew providing all drink preferences, and spacious cabins with en-suites and clever storage solutions. The spectacular owner's suite features a large skylight with an extraordinary height of 3.3 meters, a superb panoramic terrace, and a unique vertical garden that spans two decks, giving the feeling of being in a seaside villa. The yacht will offer all the latest toys, including sea-bobs and jet skis. A 15-meter chasing rib by Technohull will provide guests a second place to party, relax or use as a transportation rib. This Is It also includes a 6-meter rescue rib by Castoldi</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingAcoordYacht8">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#acoordYacht8" aria-expanded="false" aria-controls="acoordYacht8">
                                <div class="acco-title">Anything else you'd like to add?</div>
                                <span class="checkmark"></span>
                            </button>
                        </h2>
                        <div id="acoordYacht8" class="accordion-collapse collapse" aria-labelledby="headingAcoordYacht8" data-bs-parent="#luxury">
                            <div class="accordion-body">
                                <img src="images/yachting/yachting4.jpg" class="img-thumbnail rounded float-end ms-3 mb-3" alt="..." style="max-width: 50%;max-height: 200px;">
                                <p>THIS IS IT is a fully custom motor catamaran providing memorable experiences to anyone who charters her. From the crew to the amenities and toys, the owner has carefully chosen each detail to satisfy every desire. The WOW effect prevails to anyone who sees her making her the most desirable yacht to have.</p>
                                <a href="http://thisisityacht.com/">http://thisisityacht.com/</a>
                                <p>The Italian Sea Group S.p.A.</p>
                                <p>Viale Cristoforo Colombo, 4 bis - 54033 Marina Di Carrara (MS) Italy</p>
                            </div>
                        </div>
                    </div>
                </div><!--Accord-->
            </div>
        </div>
    }
    else if (activeTab == "luxury")
    {
        <a class="back-btn-footer" @onclick="() => ShowTab(null)"><i class="fas fa-long-arrow-alt-left"></i></a>
        <div>
            <h5 class="header-sticky bg-black text-white p-3 mb-0">The Fine Watch Club</h5>
            <div class="image-holder">
                <div class="image-container" style="background-image: url(images/luxury/luxury-banner.jpg);padding-top: 50%;"></div>
            </div>
            <div class="container bg-white">
                <h6 class="title">A new anniversary Breguet Marine to savour</h6>
                <p>As Breguet prepares to mark a notable anniversary we take a look at one of its most spectacular and innovative pieces the Marine Tourbillon Équation Marchante 5887</p>
                <p>The year 2021 might be notable for many reasons, but in watchmaking terms it is honorably distinguished as the 220th anniversary of the tourbillon, an invention patented by Abraham-Louis Breguet on 26 June 1801.</p>
                <p>Breguet plans to release a commemorative model this autumn, something we are very much looking forward to. But while we are waiting, it is worth noting that the brand at the pinnacle of the Swatch Group pyramid has never ceased to celebrate its traditions, creating watches that pay homage to the past while being reinforced by the latest technologies.</p>
                <p>Last year in particular, the stunning Double Tourbillon Quai de l'Horloge from the Classique collection delighted collectors, while the Marine line evokes the triple his- torical expertise of the brand founder expressed through a more contemporary, slimmer and more efficient interpretation.</p>
                <h6 class="title">The Marine Tourbillon Équation Marchante 5887</h6>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th>CASE:</th>
                            <td>18k rose gold with fluted caseband, sapphire back, water-resistant to 100m</td>
                        </tr>
                        <tr>
                            <th>DIAMETER:</th>
                            <td>43.9mm</td>
                        </tr>
                        <tr>
                            <th>MOVEMENT:</th>
                            <td>mechanical self-winding (Caliber 581DPE, 80-hour power reserve), 563 components, silicon balance spring and escape wheel, numbered and signed Breguet</td>
                        </tr>
                        <tr>
                            <th>FUNCTIONS:</th>
                            <td>hours, minutes (civile and solar), equation of time, perpetual calendar, power-reserve indication (between 7 and 9 o'clock)</td>
                        </tr>
                        <tr>
                            <th>DIAL:</th>
                            <td>slate-colored dial in gold, hand-engraved on a rose engine, numbered and signed Breguet, luminescent 18K rose gold open- tipped Breguet hands, solar minutes with a faceted gold sun</td>
                        </tr>
                        <tr>
                            <th>STRAP:</th>
                            <td>brown alligator leather strap with rose gold triple folding clasp</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="p-3 bg-black text-light mb-4 clearfix">
                <img src="images/luxury/luxury1.png" class="rounded float-start me-3" alt="..." style="max-width: 50%;">
                <p>Always intrinsically linked to the tourbillon, Breguet offers a reminder through this Marine model that its inventor was also appointed official watchmaker to the French Royal Navy. As such, sophisticated horological complications such as the perpetual calendar and the equation of time hold no secrets for the venerable brand.</p>
                <p>Derived from the ultra-thin self-winding Caliber 581 equipped with a tourbillon, this movement features an optimized design incorporating recent innovations such as a titanium carriage with a peripheral gear wheel driving its rota- tion, as well as a silicon balance-spring and escape-wheel.</p>
                <p>Similarly, Breguet's designers have achieved a one-quarter reduction in the barrel thickness by cutting a groove around the drum and holding it in place by means of three externally placed bearings.</p>
                <div class="image-container mb-3 rounded" style="padding-top: 50%;">
                    <img src="images/luxury/luxury2.png">
                </div>
                <p>Connoisseurs will recognize the function of the hand tipped with a sun, indicating the minutes of solar time (different from the minutes of civil time driven by the main gear train) thanks to differential gearing and a cam on a sapphire disk performing one revolution in a year, followed by a feeler that provides the value of the equation of time.</p>
                <p>As for the anchor-tipped hand, it provides a retrograde date display. So as to improve the legibility of all these indications, Breguet completes the perpetual calendar indications by apertures showing the day and month, which are unique in its collections. </p>
                <p>The power reserve is discreetly shown on an arc-shaped gauge at 8 o'clock. All this information is easily readable on the attractive anthracite dial featuring white and gold contrasts, above which the majestic tourbillon appears to be floating in mid-air.</p>
            </div>
            <h5 class="header-sticky bg-black text-white p-3 mb-0">The Maya Collection</h5>
            <div class="image-container" style="padding-top: 50%;">
                <img src="images/luxury/luxury-banner2.png">
            </div>
            <div class="container bg-white">
                <h4>The finest cuisine, views and experiences combine spectacularly</h4>
                <h6 class="title">In 2007, the J.V Pastor Group made its first venture into the world of high-end hospitality with the opening of the MayaBay restaurant in Monaco.</h6>
                <p>After having conquered the taste buds of Monegasques with its high quality Japanese cuisine, the gourmet MayaBay restaurant opened its doors to Thai cuisine in 2009. This was followed by the Mediterranean and Oriental restaurant Maya Jah in 2017 and the traditional Italian trattoria Maya Mia in 2018, all situated in the Principality of Monaco</p>
                <p> In 2019, They unveiled their first address in France, and a new chapter in the history book of Maya Collection began... Set in an exceptional natural landscape in Méribel, Refuge de la Traye is a luxurious mountain chalet providing the most refined destination for an exclusive holiday. </p>
                <p>Two years later, Maya Collection expanded its properties to the largest ski area in the world - the 3 valleys. At 2,300 meters high, the creation of a vibrent ski in - Ski out dining experience named Maya Altitute was popularised by the high-end brasserie style menu created  by Chef Stephane Desprez in collaboration with michelin starred chef Akrame. </p>
            </div>
            <div class="p-3 bg-black text-light clearfix">
                <div class="gallery mb-4">
                    <div class="row g-2">
                        <div class="col-6 col-md-6 col-lg-3 gallery-item">
                            <a href="images/events/gallery/event-g1.png" data-fancybox="gallery" data-caption="Image 1" class="img-box">
                                <img src="images/events/gallery/event-g1.png" alt="Thumbnail 1">
                            </a>
                        </div>
                        <div class="col-6 col-md-6 col-lg-3 gallery-item">
                            <a href="images/events/gallery/event-g2.png" data-fancybox="gallery" data-caption="Image 1" class="img-box">
                                <img src="images/events/gallery/event-g2.png" alt="Thumbnail 2">
                            </a>
                        </div>
                        <div class="col-6 col-md-6 col-lg-3 gallery-item">
                            <a href="images/events/gallery/event-g3.png" data-fancybox="gallery" data-caption="Image 1" class="img-box">
                                <img src="images/events/gallery/event-g3.png" alt="Thumbnail 3">
                            </a>
                        </div>
                        <div class="col-6 col-md-6 col-lg-3 gallery-item">
                            <a href="images/events/gallery/event-g4.png" data-fancybox="gallery" data-caption="Image 1" class="img-box">
                                <img src="images/events/gallery/event-g4.png" alt="Thumbnail 4">
                            </a>
                        </div>
                    </div>
                </div>
                <p>2022 saw the concept of Mayabay Monaco exported internationally with the opening of MayaBay Dubai in Jumeirah Al Naseem. The success was such that another franchise will open in 2023: MayaBay Riyadh on the iconic Prince Turki Ibn Abdulaziz Al Awwal Road in the heart of the Saudi capital.</p>
                <p>In 2024 Maya Collection will unveil its premium boutique hotel in the undeniably glamorous ski resort of Courchevel in the French Alps. Although Maya Hotel Courchevel will host a limited number of suites for the privilaged few, its ground floor will simultaniously host its very own MayaBay restaurant.</p>
            </div>
        </div>
    }
    else if (activeTab == "tourist")
    {
        <a class="back-btn-footer" @onclick="() => ShowTab(null)"><i class="fas fa-long-arrow-alt-left"></i></a>
        <div>
            <div class="image-container" style="padding-top: 33%;">
                <img src="images/tourism/tourism-banner1.jpg">
            </div>
                <div class="container content-section bg-white">
                <h4>TOWN IN THE MAKING, LUŠTICA BAY, PRESENTS MONTENEGRO'S FIRST GOLF RESIDENCES: THE PEAKS</h4>
                <p>In the heart of Luštica Bay this prime real estate offering is set to redefine tourism in Montenegro</p>
                <!-- Swiper -->
                    <div class="swiper col-3-swiper mb-4">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="image-container" style="padding-top: 50%;">
                                <img src="images/tourism/t1.jpg" alt="tourism 1" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image-container" style="padding-top: 50%;">
                                <img src="images/tourism/t2.jpg" alt="tourism 2" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image-container" style="padding-top: 50%;">
                                <img src="images/tourism/t3.jpg" alt="tourism 3" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image-container" style="padding-top: 50%;">
                                <img src="images/tourism/t4.png" alt="tourism 4" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image-container" style="padding-top: 50%;">
                                <img src="images/tourism/t5.jpg" alt="tourism 5" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image-container" style="padding-top: 50%;">
                                <img src="images/tourism/t6.jpg" alt="tourism 6" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image-container" style="padding-top: 50%;">
                                <img src="images/tourism/t7.jpg" alt="tourism 7" />
                            </div>
                        </div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>
                <p>Luštica Bay, Montenegro, 31st May 2023: Luštica Bay, the emerging town in the making in Montenegro, developed by the renowned international developer, Orascom Development Holding (ODH), proudly introduces the country's first golf course and residences, The Peaks. </p>
                <p>The project signifies the introduction of the Adriatic coast's first 18-hole course and beautifully-designed residences, positioning Montenegro as an upcoming world-class golfing destination. The project offers an unparalleled investment opportunity, set to build on the country's 1.15 billion euros of foreign investment in 2022. </p>
                <p>The Peaks, designed by the internationally acclaimed architects, Block722, in collaboration with local design architecture firm NRA Atelier, showcases stunning architecture that seamlessly blends authentic Mediterranean influences with modern amenities. Drawing inspiration from the architecture of the region's traditional fishing villages, the architecture exudes charm and elegance, providing residents with contemporary comforts. </p>
                <p>Darren Turner, Director of Development at Luštica Bay says, "We are excited to introduce The Peaks, an exceptional property offer that represents a significant investment opportunity in an unparalleled majestic location. As the country's first golf residences, The Peaks will not only elevate the living experience but will also reinforce Montenegro as a premier luxury destination."</p>
            </div>
            <div class="image-container" style="padding-top: 33%;">
                <img src="images/tourism/tourism-banner2.jpg">
            </div>
                <div class="container content-section bg-white">
                <!-- Swiper -->
                    <div class="swiper col-3-swiper mb-4">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="image-container" style="padding-top: 50%;">
                                <img src="images/tourism/t1-1.jpg" alt="tourism 1" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image-container" style="padding-top: 50%;">
                                <img src="images/tourism/t1-2.jpg" alt="tourism 2" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image-container" style="padding-top: 50%;">
                                <img src="images/tourism/t1-3.jpg" alt="tourism 3" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image-container" style="padding-top: 50%;">
                                <img src="images/tourism/t1-4.png" alt="tourism 4" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image-container" style="padding-top: 50%;">
                                <img src="images/tourism/t1-5.jpg" alt="tourism 5" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image-container" style="padding-top: 50%;">
                                <img src="images/tourism/t1-6.jpg" alt="tourism 6" />
                            </div>
                        </div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>
                <p>Turner further emphasized, "With its remarkable contemporary coastal Adriatic architectural design and stunning views, The Peaks offers a unique opportunity for investors seeking to capitalise on Montenegro's thriving real estate market. The project's strategic location, combined with the strong capital appreciation of Montenegrin property, distinguishes The Peaks as a compelling choice for discerning investors looking for exceptional returns and long-term growth potential all whilst enjoying the outstanding amenities of our growing luxury destination." </p>
                <p>Botanika, the first neighbourhood within The Peaks, features a collection of apartments, townhouses, and villas. The location of Botanika ensures privacy and seclusion whilst offering proximity to Centrale, Luštica Bay's vibrant town centre. Surrounded by lush greenery and breath-taking views, Botanika epitomises tranquillity and serenity. </p>
                <p>With its elevated position between Boka Bay and the Adriatic Sea, The Peaks' 18-hole golf course boasts an unrivalled setting with picturesque vistas in every direction. Designed by the esteemed Gary Player Design, who are renowned for their ecological approach, the course seamlessly blends with its natural surroundings, creating a harmonious fusion between nature and sport. Each hole has been thoughtfully crafted to maximise the beauty of the landscape, providing golfers with a unique and unforgettable experience. This launch marks a significant milestone in the region's high-end real estate and tourism landscape. With its impeccable design, world-class amenities, and prime location. The Peaks sets a new standard of excellence and positions Montenegro as a sought-after investment destination. As Luštica Bay continues to redefine the Adriatic coast, we invite investors and enthusiasts alike to seize the unparalleled opportunities offered by The Peaks, where opulence, natural beauty, and investment potential converge in perfect harmony.</p>
            </div>
        </div>
    }
</div>
@if (openPanel != null)
{
    <div class="news-panel-overlay" @onclick="ClosePanel">
        <div class="news-panel full-height @(isClosingPanel ? "slide-out" : "")" @onclick:stopPropagation>
            @if (openPanel == "news")
            {
            <header class="header header-sticky">
                <div class="header-content">
                    <div class="left-content">
                <a class="back-btn pf-icon d-flex align-items-center text-light py-3 pe-3" @onclick="ClosePanel" @onclick:preventDefault>
                            <i class="fas fa-arrow-left fs-5"></i>
                        </a>
                    </div>
                    <div class="mid-content"><h6 class="title">News</h6></div>
                    <div class="right-content">
                        <NavLink href="/" class="pf-icon fs-5 icon-sm text-light py-3 ps-3"><i class="fas fa-home fs-5"></i></NavLink>
                    </div>
                </div>
            </header>
            <main class="page-content">
                <div class="image-holder">
                    <div class="image-container mb-3" style="background-image: url(images/events/event-h1.png);padding-top: 17%;"></div>
                </div>
                    <div class="container">                            
                        <h4><em>Apex Invest Abu Dhabi - The Capital of Capital</em></h4>
                        <p class ="text-muted">18-19, November 2024</p>
                        <p><b>Reach new heights in the investment industry</b></p>
                        <div class="title-bar"><h6 class="title">A meticulously crafted event that fosters one-on-one connections between investors and managers</h6></div>
                        <p>Uniting industry professionals interested in both traditional and alternative investments. Our diverse audience includes sovereign wealth funds, single family offices, funds of funds, consultants, pensions, endowments, foundations, RIAS, and high-net-worth individuals.</p>
                        <p><b>The Ratio of Allocators to Managers is 2:1</b></p>
                        <p>Experience a unique approach! Our events and investor relations team offer a tailored one-on-one meeting format for managers and allocators. Invest your time and funds wisely by meeting the right people and building relationships.</p>
                        <hr>
                </div>
                <div class="image-holder">
                    <div class="image-container" style="background-image: url(images/events/abu-dhabi.png);padding-top: 50%;"></div>
                </div>
                <div class="container content-section">
                        <div class="title-bar"><h6 class="title">Hilton, Yas Island, Abu Dhabi</h6></div>
                        <p>Our event venue is an exquisite waterfront luxury hotel at Yas Island Abu Dhabi, one of the world's most exciting and exotic travel destinations.</p>
                </div>
            </main>
            }
            else if (openPanel == "editorial")
            {
                <header class="header header-sticky">
                <div class="header-content">
                    <div class="left-content">
                            <a class="back-btn pf-icon d-flex align-items-center text-light py-3 pe-3" @onclick="ClosePanel" @onclick:preventDefault>
                            <i class="fas fa-arrow-left fs-5"></i>
                        </a>
                    </div>
                    <div class="mid-content"><h6 class="title">Editorial</h6></div>
                    <div class="right-content">
                        <NavLink href="/" class="pf-icon fs-5 icon-sm text-light py-3 ps-3"><i class="fas fa-home fs-5"></i></NavLink>
                    </div>
                </div>
            </header>
            <main class="page-content">
            <div class="container content-section">
                <h3>Apex Invest & Investor Media are delighted to invite you to attend our event 18th and 19th November 2024</h3>
                <p>A two-days event with panel presentations on traditional and alternative investments, real estate, wealth management and luxury assets followed by networking and evening receptions.</p>
                <div class="p-3 bg-light">
                    <h5>Venue: Hilton, Yas Island, Abu Dhabi</h5>
                    <p>Our event venue is an exquisite waterfront luxury hotel at Yas Island Abu Dhabi, one of the world's most exciting and exotic travel destinations.</p>
                    <p>To confirm your attendance, please rsvp: Xavier Calloc'h xavier@investor-media.com</p>
                    <p><b>Contact details and profession required and you will receive your personal invitation.</b></p>
                    <p>Solely confirmed guests will be permitted to attend the event</p>
                </div>
            </div>
            <div class="container content-section">
                <div class="title-bar">
                    <h6 class="title">Apex Invest Abu Dhabi confirmed speakers</h6>
                </div>
                <ul class="list-group list-group-flush unordered-list__wrapper">
                    <li class="list-group-item unordered-list__item without-border pe-0">Mark Mobius, Chairman, Mobius Emerging Opportunities</li>
                    <li class="list-group-item unordered-list__item without-border pe-0">Jarred Glansbeek, Chief Investment Officer, RisCura</li>
                    <li class="list-group-item unordered-list__item without-border pe-0">Kulbhushan Kalia, Senior Portfolio Manager, Global Private Debt, Allianz Global Investors</li>
                    <li class="list-group-item unordered-list__item without-border pe-0">Ekta Tolani, Chief Investment Officer, KBW Investments, Dubai</li>
                    <li class="list-group-item unordered-list__item without-border pe-0">Ryan Friedman, Chief Investment Officer, Investec</li>
                    <li class="list-group-item unordered-list__item without-border pe-0">Ibrahim Al Eisri, Director, Private Equity, Oman Investment Authority</li>
                    <li class="list-group-item unordered-list__item without-border pe-0">Joseph Iskander, CEO, Entrust Capital Ltd, part of EIIC</li>
                    <li class="list-group-item unordered-list__item without-border pe-0">Roberto Cagnati Member of the Global Portfolio Committee, Partners Group</li>
                    <li class="list-group-item unordered-list__item without-border pe-0">Amb. Dr Neil Parsan Former Ambassador TT to USA, Mexico; Secretary for Development - OAS; Senior Advisor Dentons; MD Parsan Cross</li>
                    <li class="list-group-item unordered-list__item without-border pe-0">Dr. Greg Bailey, MD, a co-founder and the Executive Chairman of Juvenescence</li>
                    <li class="list-group-item unordered-list__item without-border pe-0">Isabelle Freidheim, Founder and managing partner, Athena Capital</li>
                    <li class="list-group-item unordered-list__item without-border pe-0">Ali El Adou, Head of Asset Management, Entrust Capital</li>
                    <li class="list-group-item unordered-list__item without-border pe-0">Dr. Mohamad Hamade, Founder & CEO Lumino Capital</li>
                    <li class="list-group-item unordered-list__item without-border pe-0">Mary Anne Scicluna Senior Executive Director - Supervision, Financial Services Regulatory Authority, Abu Dhabi</li>
                    <li class="list-group-item unordered-list__item without-border pe-0">Kari Chaudry CEO and Founder, APEX Global Forum</li>
                    <li class="list-group-item unordered-list__item without-border pe-0">Matt Nordgren, Managing Partner, Arcadian Capital</li>
                    <li class="list-group-item unordered-list__item without-border pe-0">Ahmed Nasser Al Nowais, Founder and CEO, Annex Investments</li>
                    <li class="list-group-item unordered-list__item without-border pe-0">James Munce, CEO & Chief Investment Officer, HYCAP</li>
                    <li class="list-group-item unordered-list__item without-border pe-0">Ahmad Al Alwan CEO Hub 71* awaiting final confirmation</li>
                </ul>
                </div>
            </main>
            }
            else if (openPanel == "videos")
            {
                <header class="header header-sticky">
                <div class="header-content">
                    <div class="left-content">
                            <a class="back-btn pf-icon d-flex align-items-center text-light py-3 pe-3" @onclick="ClosePanel" @onclick:preventDefault>
                            <i class="fas fa-arrow-left fs-5"></i>
                        </a>
                    </div>
                    <div class="mid-content"><h6 class="title">Videos</h6></div>
                    <div class="right-content">
                        <NavLink href="/" class="pf-icon fs-5 icon-sm text-light py-3 ps-3"><i class="fas fa-home fs-5"></i></NavLink>
                    </div>
                </div>
            </header>
                <main class="page-content @(currentVideoUrl !=null ? "no-scroll" : "" )">
                    @* <div class="row gap-3">
                    @foreach (var (id, thumbnail) in videos)
                    {
                        <div class="col-md-4">
                            <div class="image-holder">
                            <div class="image-container" @onclick="() => OpenVideo(id)">
                                <img src="@thumbnail" alt="Video thumbnail" />
                                <div class="play-button"><i class="fab fa-youtube fs-12"></i></div>
                            </div>
                            </div>
                        </div>
                    }
                </div>

                @if (!string.IsNullOrEmpty(currentVideoUrl))
                {
                    <div class="video-modal" @onclick="CloseVideo">
                        <div class="video-frame" @onclick:stopPropagation>
                            <iframe src="@currentVideoUrl"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                            </iframe>
                            <button class="close-button" @onclick="CloseVideo">✖</button>
                        </div>
                    </div>
                } *@
                    <div class="row">
                        @foreach (var (videoUrl, thumbnail, title) in videos)
                        {
                            <div class="col-md-4">
                                <div class="image-holder">
                                    <div class="image-container" @onclick="() => OpenVideo(videoUrl)">
                                        <img src="@thumbnail" alt="Video thumbnail" />
                                        <div class="play-button"><i class="fas fa-play-circle fs-12"></i></div>
                                    </div>
                                </div>
                                <div class="video-title">@title</div>
                            </div>
                        }
                    </div>

                    @if (!string.IsNullOrEmpty(currentVideoUrl))
                    {
                        <div class="video-modal" @onclick="CloseVideo">
                            <div class="video-frame" @onclick:stopPropagation>
                                <video controls autoplay>
                                    <source src="@currentVideoUrl" type="video/mp4" />
                                    Your browser does not support the video tag.
                                </video>
                                <button class="close-button" @onclick="CloseVideo">✖</button>
                            </div>
                        </div>
                    }

            </main>
            }
            else if (openPanel == "mediaEvent")
            {
                <header class="header header-sticky">
                <div class="header-content">
                    <div class="left-content">
                            <a class="back-btn pf-icon d-flex align-items-center text-light py-3 pe-3" @onclick="ClosePanel" @onclick:preventDefault>
                            <i class="fas fa-arrow-left fs-5"></i>
                        </a>
                    </div>
                            <div class="mid-content"><h6 class="title">Media Events in Dubai</h6></div>
                    <div class="right-content">
                        <NavLink href="/" class="pf-icon fs-5 icon-sm text-light py-3 ps-3"><i class="fas fa-home fs-5"></i></NavLink>
                    </div>
                </div>
            </header>
            <main class="page-content">
                <div class="content-section container">
                    <div class="title-bar">
                        <h6 class="title">Down Town Palace, Bulgari Yacht Club</h6>
                    </div>
                    <div class="gallery mb-4">
                        <div class="row g-2">
                                @foreach (var img in new[] { "event-g1.png", "event-g2.png", "event-g3.png", "event-g4.png", "event-g5.png", "event-g6.png", "event-g7.png", "event-g8.png", "event-g9.png", "event-g10.png", "event-g11.png", "event-g12.png" })
                                {
                                    <div class="col-4 col-md-6 col-lg-3 gallery-item">
                                        <a href=@($"images/events/gallery/{img}") data-fancybox="gallery" class="img-box">
                                            <img src=@($"images/events/gallery/{img}") alt="Thumbnail" />
                                        </a>
                                    </div>
                                }
                        </div>
                    </div><!--Gallery-->
                    <div class="title-bar">
                        <h6 class="title">Four Seasons Jumeirah</h6>
                    </div>
                    <div class="gallery mb-4">
                        <div class="row g-2">
                        @foreach (var img in new[] { "event1-g1.png", "event1-g2.png", "event1-g3.png", "event1-g4.png", "event1-g5.png", "event1-g6.png", "event1-g7.png", "event1-g8.png", "event1-g9.png", "event1-g10.png", "event1-g11.png", "event1-g12.png" })
                        {
                                <div class="col-4 col-md-6 col-lg-3 gallery-item">
                                    <a href=@($"images/events/gallery/{img}") data-fancybox="gallery" class="img-box">
                                        <img src=@($"images/events/gallery/{img}") alt="Thumbnail" />
                                    </a>
                                </div>
                        }
                        </div>
                    </div><!--Gallery-->
                    <div class="title-bar">
                        <h6 class="title">The Place Skyview, The Empty Quarter Art Gallery DIFC</h6>
                    </div>
                    <div class="gallery mb-4">
                        <div class="row g-2">
                        @foreach (var img in new[] { "event2-g1.png", "event2-g2.png", "event2-g3.png", "event2-g4.png", "event2-g5.png", "event2-g6.png", "event2-g7.png" })
                        {
                                <div class="col-4 col-md-6 col-lg-3 gallery-item">
                                    <a href=@($"images/events/gallery/{img}") data-fancybox="gallery" class="img-box">
                                            <img src=@($"images/events/gallery/{img}") alt="Thumbnail" />
                                    </a>
                                </div>
                        }
                        </div>
                    </div><!--Gallery-->
                </div>
            </main>
            }
            else if (openPanel == "panel-1")
            {
                <header class="header header-sticky">
                    <div class="header-content">
                        <div class="left-content">
                            <a class="back-btn pf-icon d-flex align-items-center text-light py-3 pe-3" @onclick="ClosePanel" @onclick:preventDefault>
                                <i class="fas fa-arrow-left fs-5"></i>
                            </a>
                        </div>
                        <div class="mid-content"><h6 class="title">LUSTICA BAY</h6></div>
                        <div class="right-content">
                            <NavLink href="/" class="pf-icon fs-5 icon-sm text-light py-3 ps-3"><i class="fas fa-home fs-5"></i></NavLink>
                        </div>
                    </div>
                </header>
                <main class="page-content">
                    <div class="image-holder">
                        <div class="image-container mb-3" style="background-image: url(images/montenegro/img1.jpg);"></div>
                    </div>
                    <div class="container content-section">
                        <h4><em>ONE INVESTOR’S PARADISE. TEN REASONS WHY.</em></h4>
                        <em>Nestled among Europe’s gems, Montenegro has swiftly evolved from a hidden treasure to the continent’s fastest-growing luxury investment hub. Reclaiming independence in 2006, the Adriatic pearl is now synonymous with steady capital appreciation and high-end tourism, capturing the attention of astute investors worldwide. Here are the top ten reasons why discerning investors are turning their gaze towards Montenegrin real estate: </em>
                        <ul class="list-group list-group-flush unordered-list__wrapper">
                            <li class="list-group-item unordered-list__item without-border pe-0">
                                <h5>Unspoiled beauty, close to home</h5>
                                <p>Cradled at the centre of the Balkan Peninsula, Montenegro gazes at southern Italy across the Adriatic Sea. Its strategic location offers proximity to European capitals within a 3-hour flight. International airports like Tivat and Podgorica, coupled with neighbouring Dubrovnik, ensure seamless travel connections. A favoured sailing destination, its coast, lined with charming beach towns including the famed Medieval town of Kotor, lies along the Corfu – Trieste cruising route.</p>
                            </li>
                            <li class="list-group-item unordered-list__item without-border pe-0">
                                <h5>All the prosperity of the Eurozone</h5>
                                <p>On the cusp of European Union membership, NATO’s youngest member welcomes investors with the security of no visa requirements for EU nationals. Montenegro stands as the only country outside the EU to adopt the Euro as its national currency, underscoring its commitment to economic stability and seamless integration into the broader European financial landscape.</p>
                            </li>
                            <li class="list-group-item unordered-list__item without-border pe-0">
                                <h5>A perfect climate for investment</h5>
                                <p>Offering foreign investors the same status as locals, Montenegro boasts low corporate taxes and a streamlined process for property ownership and business ventures. The tax landscape includes a 3% transfer tax on immovable property, 0% VAT on resale, a favourable 0.25-1% annual property tax and 15% tax on capital gain and lease. With EU-inspired legislation and no inheritance tax applicable to ‘next of kin’, Montenegro beckons as a sun-drenched tax haven conducive to long-term investments.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="image-holder">
                        <div class="image-container mb-3" style="background-image: url(images/montenegro/img2.jpg);"></div>
                    </div>
                    <div class="image-holder">
                        <div class="image-container mb-3" style="background-image: url(images/montenegro/img3.jpg);"></div>
                    </div>
                    <div class="container content-section">
                        <ul class="list-group list-group-flush unordered-list__wrapper">
                            <li class="list-group-item unordered-list__item without-border pe-0">
                                <h5>Renting on the rise </h5>
                                <p>Montenegro’s thriving tourism sector unfolds opportunities for lucrative rental income, bolstered by an extended tourist season. With rising demand for rental properties, both short- and long-term rentals become an attractive avenue for investors, offering enticing yields and professional property management services.</p>
                            </li>
                            <li class="list-group-item unordered-list__item without-border pe-0">
                                <h5>Paving the way to progress</h5>
                                <p>Montenegro has prioritised its post-pandemic recovery through substantial investments in infrastructure. Strategic developments, such as active pursual in improving airport facilities, road networks and expanding highways, aim to amplify accessibility and convenience for tourists and investors alike. </p>
                            </li>
                            <li class="list-group-item unordered-list__item without-border pe-0">
                                <h5>Year-round Mediterranean allure</h5>
                                <p>Montenegro’s lifestyle effortlessly captures the essence of its revered location, embodying the vibrant spirit at the heart of the Mediterranean. Ideal for both vacationers and those seeking a second home, with approximately 270 days of sunshine each year, the country offers a harmonious blend of outdoor living, organic cuisine, and pristine natural landscapes.</p>
                            </li>
                            <li class="list-group-item unordered-list__item without-border pe-0">
                                <h5>New ventures amidst preserved terrains</h5>
                                <p>In 1991, Montenegro proudly declared itself the world’s first ecological state, a commitment that echoes through its postcard-perfect landscapes. Hosting five national parks that safeguard 8% of its territory and boasting four UNESCO World Heritage Sites, Montenegro stands out.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="image-holder">
                        <div class="image-container mb-3" style="background-image: url(images/montenegro/img4.jpg);"></div>
                    </div>
                    <div class="container content-section">
                        <p>Europe’s southernmost fjord, Boka Bay, is a UNESCO -protected jewel rivalling Italy’s Lake Como.This picturesque sanctuary serves as the epicentre for three major development projects.Totalling €5 billion, these initiatives breathe new life into former military and naval bases, transforming them into opulent tourism sites.Among these, a colossal project on the peninsula bridging Boka Bay and the Adriatic Sea, is ranked among the most substantial investment initiatives in south-eastern Europe – Luštica Bay.</p>
                        <p>Developed by the seasoned hands of Orascom Development Holding, Luštica Bay sleepily nuzzled between two stretches of water, is bright with warmth and life.With over 40 nationalities already calling it home, this thriving town is a sun-kissed mosaic of serenity, culture and entertainment.</p>
                        <p>Luštica Bay embraces its natural surroundings, with the new town set to develop on a mere 10% of its vast 7 million m2 site.Surrounded by national parks, UNESCO World Heritage Sites, hiking trails and ancient olive groves, the wonders of Montenegrin nature are practically on the town’s doorstep.In harmony with this natural splendour, the town boasts four tranquil beaches, three sea lounges, and is poised to introduce the country’s inaugural golf course, each hole showcasing an unparalleled sea view– elevating its allure as a luxurious destination for year-round travel.</p>
                        <p>Although its heart is young, the town’s soul is steeped in antiquity.Thoughtfully designed new residences seamlessly blend with the Mediterranean architectural heritage and natural beauty of their surroundings, giving Luštica Bay a discreet yet desirable charm.Three distinct neighbourhoods offer residents access to spectacular beaches, exquisite dining options, unparalleled shopping experiences, world-class amenities and a vibrant marina village.A safe and inviting community where crystal blue waters and ultimate convenience work hand in hand.</p>
                        <p>Boasting almost 600 residences delivered to date, the town offers a unique value proposition, catering to those seeking a second home as well as those interested in a rental investment.The rental programme, coupled with tailor-made customer service and concierge facilities, adds a further layer of support for residents.</p>
                        <p>Navigating the property market at Luštica Bay is as simple as it is spectacular.The acquisition process is smooth, with no transfer tax for first-time buyers.The town offers interest-free prolonged payment plans spanning several years, allowing flexibility for residents to move in or rent during different phases of the payment-plan duration. Marked by a capital infusion exceeding €1.5 billion and backed by a robust track record of capital appreciation, Luštica Bay stands out as both aesthetically pleasing and a hugely attractive financial prospect.As well as being an excellent place of investment, Luštica Bay is also a place to discover.A place to connect.</p>
                    </div>
                    <div class="image-holder">
                        <div class="image-container mb-3" style="background-image: url(images/montenegro/img5.jpg);"></div>
                    </div>
                </main>
            }
            else if (openPanel == "panel-2")
            {
                <header class="header header-sticky">
                    <div class="header-content">
                        <div class="left-content">
                            <a class="back-btn pf-icon d-flex align-items-center text-light py-3 pe-3" @onclick="ClosePanel" @onclick:preventDefault>
                                <i class="fas fa-arrow-left fs-5"></i>
                            </a>
                        </div>
                        <div class="mid-content"><h6 class="title">LUSTICA BAY</h6></div>
                        <div class="right-content">
                            <NavLink href="/" class="pf-icon fs-5 icon-sm text-light py-3 ps-3"><i class="fas fa-home fs-5"></i></NavLink>
                        </div>
                    </div>
                </header>
                <div class="container content-section">
                    <h3>Apex Invest & Investor Media are delighted to invite you to attend our event 18th and 19th November 2024</h3>
                    <p>A two-days event with panel presentations on traditional and alternative investments, real estate, wealth management and luxury assets followed by networking and evening receptions.</p>
                    <div class="p-3 bg-light">
                        <h5>Venue: Hilton, Yas Island, Abu Dhabi</h5>
                        <p>Our event venue is an exquisite waterfront luxury hotel at Yas Island Abu Dhabi, one of the world's most exciting and exotic travel destinations.</p>
                        <p>To confirm your attendance, please rsvp: Xavier Calloc'h xavier@investor-media.com</p>
                        <p><b>Contact details and profession required and you will receive your personal invitation.</b></p>
                        <p>Solely confirmed guests will be permitted to attend the event</p>
                    </div>
                </div>
            }
            else if (openPanel == "panel-3")
            {
                <header class="header header-sticky">
                    <div class="header-content">
                        <div class="left-content">
                            <a class="back-btn pf-icon d-flex align-items-center text-light py-3 pe-3" @onclick="ClosePanel" @onclick:preventDefault>
                                <i class="fas fa-arrow-left fs-5"></i>
                            </a>
                        </div>
                        <div class="mid-content"><h6 class="title">FIRST GOLF RESIDENCES</h6></div>
                        <div class="right-content">
                            <NavLink href="/" class="pf-icon fs-5 icon-sm text-light py-3 ps-3"><i class="fas fa-home fs-5"></i></NavLink>
                        </div>
                    </div>
                </header>
                <main class="page-content">
                    <div class="image-container" style="padding-top: 33%;">
                        <img src="images/tourism/tourism-banner1.jpg">
                    </div>
                    <div class="container content-section bg-white">
                        <h4>TOWN IN THE MAKING, LUŠTICA BAY, PRESENTS MONTENEGRO'S FIRST GOLF RESIDENCES: THE PEAKS</h4>
                        <p>In the heart of Luštica Bay this prime real estate offering is set to redefine tourism in Montenegro</p>
                        <!-- Swiper -->
                        <div class="swiper col-3-swiper mb-4">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="image-container" style="padding-top: 50%;">
                                        <img src="images/tourism/t1.jpg" alt="tourism 1" />
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="image-container" style="padding-top: 50%;">
                                        <img src="images/tourism/t2.jpg" alt="tourism 2" />
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="image-container" style="padding-top: 50%;">
                                        <img src="images/tourism/t3.jpg" alt="tourism 3" />
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="image-container" style="padding-top: 50%;">
                                        <img src="images/tourism/t4.png" alt="tourism 4" />
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="image-container" style="padding-top: 50%;">
                                        <img src="images/tourism/t5.jpg" alt="tourism 5" />
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="image-container" style="padding-top: 50%;">
                                        <img src="images/tourism/t6.jpg" alt="tourism 6" />
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="image-container" style="padding-top: 50%;">
                                        <img src="images/tourism/t7.jpg" alt="tourism 7" />
                                    </div>
                                </div>
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination"></div>
                        </div>
                        <p>Luštica Bay, Montenegro, 31st May 2023: Luštica Bay, the emerging town in the making in Montenegro, developed by the renowned international developer, Orascom Development Holding (ODH), proudly introduces the country's first golf course and residences, The Peaks. </p>
                        <p>The project signifies the introduction of the Adriatic coast's first 18-hole course and beautifully-designed residences, positioning Montenegro as an upcoming world-class golfing destination. The project offers an unparalleled investment opportunity, set to build on the country's 1.15 billion euros of foreign investment in 2022. </p>
                        <p>The Peaks, designed by the internationally acclaimed architects, Block722, in collaboration with local design architecture firm NRA Atelier, showcases stunning architecture that seamlessly blends authentic Mediterranean influences with modern amenities. Drawing inspiration from the architecture of the region's traditional fishing villages, the architecture exudes charm and elegance, providing residents with contemporary comforts. </p>
                        <p>Darren Turner, Director of Development at Luštica Bay says, "We are excited to introduce The Peaks, an exceptional property offer that represents a significant investment opportunity in an unparalleled majestic location. As the country's first golf residences, The Peaks will not only elevate the living experience but will also reinforce Montenegro as a premier luxury destination."</p>
                    </div>
                    <div class="image-container" style="padding-top: 33%;">
                        <img src="images/tourism/tourism-banner2.jpg">
                    </div>
                    <div class="container content-section bg-white">
                        <!-- Swiper -->
                        <div class="swiper col-3-swiper mb-4">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="image-container" style="padding-top: 50%;">
                                        <img src="images/tourism/t1-1.jpg" alt="tourism 1" />
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="image-container" style="padding-top: 50%;">
                                        <img src="images/tourism/t1-2.jpg" alt="tourism 2" />
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="image-container" style="padding-top: 50%;">
                                        <img src="images/tourism/t1-3.jpg" alt="tourism 3" />
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="image-container" style="padding-top: 50%;">
                                        <img src="images/tourism/t1-4.png" alt="tourism 4" />
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="image-container" style="padding-top: 50%;">
                                        <img src="images/tourism/t1-5.jpg" alt="tourism 5" />
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="image-container" style="padding-top: 50%;">
                                        <img src="images/tourism/t1-6.jpg" alt="tourism 6" />
                                    </div>
                                </div>
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination"></div>
                        </div>
                        <p>Turner further emphasized, "With its remarkable contemporary coastal Adriatic architectural design and stunning views, The Peaks offers a unique opportunity for investors seeking to capitalise on Montenegro's thriving real estate market. The project's strategic location, combined with the strong capital appreciation of Montenegrin property, distinguishes The Peaks as a compelling choice for discerning investors looking for exceptional returns and long-term growth potential all whilst enjoying the outstanding amenities of our growing luxury destination." </p>
                        <p>Botanika, the first neighbourhood within The Peaks, features a collection of apartments, townhouses, and villas. The location of Botanika ensures privacy and seclusion whilst offering proximity to Centrale, Luštica Bay's vibrant town centre. Surrounded by lush greenery and breath-taking views, Botanika epitomises tranquillity and serenity. </p>
                        <p>With its elevated position between Boka Bay and the Adriatic Sea, The Peaks' 18-hole golf course boasts an unrivalled setting with picturesque vistas in every direction. Designed by the esteemed Gary Player Design, who are renowned for their ecological approach, the course seamlessly blends with its natural surroundings, creating a harmonious fusion between nature and sport. Each hole has been thoughtfully crafted to maximise the beauty of the landscape, providing golfers with a unique and unforgettable experience. This launch marks a significant milestone in the region's high-end real estate and tourism landscape. With its impeccable design, world-class amenities, and prime location. The Peaks sets a new standard of excellence and positions Montenegro as a sought-after investment destination. As Luštica Bay continues to redefine the Adriatic coast, we invite investors and enthusiasts alike to seize the unparalleled opportunities offered by The Peaks, where opulence, natural beauty, and investment potential converge in perfect harmony.</p>
                    </div>
                </main>
            }
        </div>
    </div>
}

@code {
    private string activeTab = "";//events
    private string? openPanel = null;
    private bool isClosingPanel = false;

    private readonly HashSet<string> tabsToHideList = new() { "events", "investor", "yachting", "luxury", "tourist" };

    private string GetListVisibility()
    {
        return string.IsNullOrEmpty(activeTab) || !tabsToHideList.Contains(activeTab)
        ? ""
        : "display: none;";
    }

    //void ShowTab(string tab) => activeTab = tab;
    async void ShowTab(string tab)
    {
        activeTab = tab ?? "";

        // Delay to allow Blazor to render new tab content
        await Task.Delay(50);

        // Re-initialize swiper after render
        await JS.InvokeVoidAsync("initSwiper");
    }

    async void OpenPanel(string panelName)
    {
        openPanel = panelName;
        isClosingPanel = false;
        StateHasChanged(); // Trigger UI update

        // Wait for DOM to update, then initialize Swiper only for panel3
        if (panelName == "panel3")
        {
            await Task.Delay(100); // Delay allows Blazor to render the DOM
            await JS.InvokeVoidAsync("initSwiper");
        }
    }

    async void ClosePanel()
    {
        isClosingPanel = true;
        StateHasChanged(); // Trigger UI update to apply "slide-out"

        await Task.Delay(300); // Match CSS animation time
        openPanel = null;
        isClosingPanel = false;
        StateHasChanged(); // Refresh after closing
    }

    string GetTabClass(string tab) => activeTab == tab ? "active-tab" : "";

    string GetSubtitle()
    {
        return activeTab switch
        {
            "events" => " / Events",
            "investor" => " / Investor",
            "yachting" => " / Yachting",
            "luxury" => " / Luxury",
            "tourist" => " / Tourist",
            _ => ""
        };
    }
}

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initSwiper");
            await JS.InvokeVoidAsync("initFancyBox");
        }
    }
}
@* @code {
    private string? currentVideoUrl = null;

    private void OpenVideo(string videoId)
    {
        currentVideoUrl = $"https://www.youtube.com/embed/{videoId}?autoplay=1&playsinline=1&modestbranding=1&rel=0";
    }

    private void CloseVideo()
    {
        currentVideoUrl = null;
    }

    private List<(string Id, string Thumbnail)> videos = new()
    {
        ("eNYHcc1_JCI", "https://img.youtube.com/vi/eNYHcc1_JCI/0.jpg"),
        ("lrMK9MUy3Go", "https://img.youtube.com/vi/lrMK9MUy3Go/0.jpg"),
        ("PF18-ZfkT68", "https://img.youtube.com/vi/PF18-ZfkT68/0.jpg"),
        ("4TujUfarWcg", "https://img.youtube.com/vi/4TujUfarWcg/0.jpg")
    };
} *@

@code {
    private string? currentVideoUrl = null;

    private void OpenVideo(string videoUrl)
    {
        currentVideoUrl = videoUrl;
    }

    private void CloseVideo()
    {
        currentVideoUrl = null;
    }

    private List<(string VideoUrl, string Thumbnail, string Title)> videos = new()
    {
        ("https://oneplatformfactory.com/imapp/video/1.mp4", "images/vid-thumb/vid-1.jpg", "Investor Media - London Winter Event 2023"),
        ("https://oneplatformfactory.com/imapp/video/2.mp4", "images/vid-thumb/vid-2.jpg", "Investor Media event Monaco Yacht Show 2023"),
        ("https://oneplatformfactory.com/imapp/video/3.mp4", "images/vid-thumb/vid-3.jpg", "Investor Media Dubai Event 2020"),
        ("https://oneplatformfactory.com/imapp/video/4.mp4", "images/vid-thumb/vid-4.jpg", "investor media"),
        ("https://oneplatformfactory.com/imapp/video/5.mp4", "images/vid-thumb/vid-5.jpg", "Apex Invest Platform Promotional Video - Managers"),
        // ("https://oneplatformfactory.com/imapp/video/6.mp4", "images/vid-thumb/vid-6.jpg", "Apex Invest Abu Dhabi and Las Vegas Events Testimonials"),
        // ("https://oneplatformfactory.com/imapp/video/7.mp4", "images/vid-thumb/vid-7.jpg", "Apex Invest Bahamas 2024 - Event Showcase Video")
    };
}