@page "/eventsdata/{id:int}/{countryid:int}/{countryname}/{titlename}"
@using MauiApp1.Services
@using MauiApp1.Components.Models
@inject EventsDataService ListofEventDataService
@inject SelectedCountryService SelectedCountryService
@inject NewsService NewsService
@inject NavigationManager Navigation

@* //space top bottom *@
@using MauiApp1.Components.Layout
@layout MainLayout
@inherits LayoutComponentBase

<header class="header page-title shadow-none bg-transparent">
    <div class="header-content">
        <div class="left-content">
            <NavLink href="@($"/countrydata/{countryid}/{countryname}")" class="back-btn pf-icon d-flex align-items-center py-3 pe-3">
                <i class="fas fa-chevron-left fs-7"></i>
            </NavLink>
            <h1>@countryname<span class="fs-6"> / </span><span class="fs-6 text-primary">@titlename</span></h1>
        </div>
        <div class="mid-content"></div>
        <div class="right-content"></div>
    </div>
</header>
 
@if (EventsDataList == null)
{
    @* <p>Loading events...</p> *@
    <div class="loader-container">
        <div class="im-loader">
            <span class="im-text">IM</span>
            <div class="im-spinner"></div>
        </div>
    </div>
}
else if (EventsDataList.Count == 0){

}
else if (EventsDataList.Count > 0)
{
    <div class="content-section container">
        <div class="container notification-list">
            <ul class="row gap-2">
                @foreach (var p in EventsDataList)
                {
                <li class="col-sm-12 rounded shadow-lg-light">
                        <a class="media align-items-center" href="@($"/templatecontent/{p.id}/{p.fKiCountryDataId}/{countryname}/{titlename}/{@p.sTitle}/{countryid}")">
                        <div class="media-50 rounded-3 border d-flex align-items-center justify-content-center">
                            <img src="@p.imagePath" alt="" />
                            @* <span class="fas fs-10 icon-@p.sTitle text-color"></span> *@
                        </div>
                        
                        <div class="list-content"><span class="title fs-8">@p.sTitle</span></div>
                        <span class="fas fa-chevron-right ms-auto text-muted"></span>
                    </a>
                </li>
                }
            </ul>
        </div>
    </div>
    <div class="content-section container">
        <div class="latest-news-section">
            
            @if (newsItems == null)
            {
                @* <p>Loading latest news...</p> *@
                <div class="loader-container">
                    <div class="im-loader">
                        <span class="im-text">IM</span>
                        <div class="im-spinner"></div>
                    </div>
                </div>
            }
            else if (newsItems.Count > 0)
            {
                <h2 class="fw-bold text-primary">Latest News</h2>
                <div class="notification-list">
                    <ul class="list-group gap-2">
                @foreach (var news in newsItems)
                        {
                            <li class="list-group-item border-0 rounded-3">
                                <div class="media">
                                    @* <a href="#" class="media" @onclick="@(() => OpenPanel("panel-1"))" @onclick:preventDefault> *@
                                    @if (news.imagePath != "")
                                    {
                                        <div class="media-50 rounded-3 border">
                                            <img src="@news.imagePath" alt="">
                                        </div>
                                    }
                                    <div class="list-content">
                                        <h6 class="small text-primary m-0 fw-bold">IM News</h6>
                                        <h6 class="title ellips1">@news.sName</h6>
                                        <a href="@($"/latestnews/{@news.id}/{news.fKiCountryID}/{countryname}/{titlename}/{id}")">
                                        @news.sContent
                                    </a>
                                    </div>
                                @* </a> *@
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            
            }

        </div>
    </div>
}

@code {
    [Parameter] public int id { get; set; }
    [Parameter] public int countryid { get; set; }
    [Parameter] public string countryname { get; set; } = string.Empty;
    [Parameter] public string titlename { get; set; } = string.Empty;

    [CascadingParameter] private MainLayout? MainLayout { get; set; }//space top bottom function

    private List<News> newsItems;
    private List<EventItem> EventsDataList;
    private Dictionary<string, string> tabDisplayNames = new();

    private bool spacingSet = false;//space top bottom function

    protected override async Task OnInitializedAsync()
    {
        try
        {
            EventsDataList = await ListofEventDataService.GetEventsByCountryId(id);
            newsItems = await NewsService.GetNewsAsync(id,0);
        }
        catch (Exception ex)
        {
            Console.WriteLine("Error loading events: " + ex.Message);
            EventsDataList = new List<EventItem>();
        }
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            MainLayout.SetPageSpacing(top: true, bottom: false);//space top bottom function
            spacingSet = true;//space top bottom function
        }
    }
}
