@page "/monaco"

<div class="slider">
    <div class="swiper col-1-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="#">
                    <div class="mask"></div>
                    <img src="images/events/abu-dhabi.png" />
                    <div class="image-caption">
                        <h4 class="title-post">Omaya Yachts celebrates a successful week at the International Multihull Show in La Grande-Motte</h4>
                        <span class="category-tag">Yachts <i class="fas fa-circle"></i></span>
                        <span class="date">25 April 2025</span>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#">
                    <div class="mask"></div>
                    <img src="images/events/apex-vid1.png" />
                    <div class="image-caption">
                        <h4 class="title-post">SAY 52 Undergoing Final Preparations Ahead of Palma Boat Show</h4>
                        <span class="category-tag">MEDIA ALERT <i class="fas fa-circle"></i></span>
                        <span class="date">April, 2025</span>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#">
                    <div class="mask"></div>
                    <img src="images/events/apex-vid2.png" />
                    <div class="image-caption">
                        <h4 class="title-post">This Earth Day, Arksen and 10% For The Ocean Announce Co-Production</h4>
                        <span class="category-tag">News <i class="fas fa-circle"></i></span>
                        <span class="date">22 April 2025</span>
                    </div>
                </a>
            </div>
        </div>
        <!-- Optional navigation -->
        @* <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div> *@
        <div class="swiper-pagination"></div>
    </div>
</div>
<div class="page-title d-flex px-3 py-3 align-items-center">
    <h2>Monaco<span class="fs-2">@GetSubtitle()</span></h2>
    <NavLink class="btn btn-sm text-muted ms-auto" href="/"><i class="fas fa-home"></i> Home</NavLink>
</div>
@* <header class="header header-fixed">
    <div class="top-scroll-tab">
        <a @onclick="@(() => ShowTab("yachting"))" class="@GetTabClass("yachting")">IM<br /> Yachting</a>
        <a @onclick="@(() => ShowTab("luxury"))" class="@GetTabClass("luxury")">IM<br /> Luxury</a>
    </div>
</header> *@
<div class="notification-list img-list-btn" style="@GetListVisibility()">
    <ul class="list-group gap-2">
        <li class="list-group-item border-0" style="background-image:url(images/category/c_1.png)">
            @* <NavLink @onclick="@(() => ShowTab("yachting"))" class="@GetTabClass("yachting")">
                <div class="mask"></div>
                <div class="image-caption">
                    <h4>Yachting</h4>
                </div>
            </NavLink> *@
            <a href="#" @onclick="@(() => OpenPanel("yachting"))" @onclick:preventDefault>
                <div class="mask"></div>
                <div class="image-caption">
                    <h4>Yachting</h4>
                </div>
            </a>
        </li>
        <li class="list-group-item border-0" style="background-image:url(images/category/c_2.png)">
            <a href="#" @onclick="@(() => OpenPanel("investor"))" @onclick:preventDefault>
                <div class="mask"></div>
                <div class="image-caption">
                    <h4>Investor</h4>
                </div>
            </a>
        </li>
    </ul>
</div>
@* <div class="tab-content content">
    @if (activeTab == "yachting")
    {
    <a class="back-btn-footer" @onclick="() => ShowTab(null)"><i class="fas fa-long-arrow-alt-left"></i></a>
        <div style="height: calc(100vh - 125px);" class="d-flex justify-content-center align-items-center w-100">
            <iframe src="https://docs.google.com/gview?embedded=true&url=https://platformfactory.in/SDNA/IM/pdf/Yacht-Investor-Monaco.pdf" width="100%" height="100%"></iframe>
        </div>
    }
    else if (activeTab == "investor")
    {
        <a class="back-btn-footer" @onclick="() => ShowTab(null)"><i class="fas fa-long-arrow-alt-left"></i></a>
        <div style="height: calc(100vh - 125px);" class="d-flex justify-content-center align-items-center w-100">
            <iframe src="https://docs.google.com/gview?embedded=true&url=https://platformfactory.in/SDNA/IM/pdf/Family-Office-Investor-Monaco.pdf" width="100%" height="100%"></iframe>
        </div>
    }
</div> *@
@if (openPanel != null)
{
    <div class="news-panel-overlay" @onclick="ClosePanel">
        <div class="news-panel full-height @(isClosingPanel ? "slide-out" : "")" @onclick:stopPropagation>
            @if (openPanel == "yachting")
            {
                <header class="header header-sticky">
                    <div class="header-content">
                        <div class="left-content">
                            <a class="back-btn pf-icon d-flex align-items-center text-light py-3 pe-3" @onclick="ClosePanel" @onclick:preventDefault>
                                <i class="fas fa-arrow-left fs-5"></i>
                            </a>
                        </div>
                        <div class="mid-content"><h6 class="title">Yachting</h6></div>
                        <div class="right-content">
                            <NavLink href="/" class="pf-icon fs-5 icon-sm text-light py-3 ps-3"><i class="fas fa-home fs-5"></i></NavLink>
                        </div>
                    </div>
                </header>
                <main class="page-content">
                    <div class="image-holder">
                        <div class="image-container mb-3" style="background-image: url(images/monaco/monaco-yatching-img1.jpg);"></div>
                    </div>
                    <div class="container content-section">
                        <p><a href="https://www.bupaglobal.com/en/about-us">https://www.bupaglobal.com/en/about-us</a></p>
                        <h4>Corporate history and vision</h4>
                        <p>Since starting in the UK in 1947 with just 38,000 members, Bupa has developed into an internationally respected brand. Bupa Global was established in 1971 to extend our health cover to expatriates around the globe, with over 1.2 million medical providers.</p>
                        <h4>About Bupa Global</h4>
                        <p>Bupa Global is the international health insurance division of Bupa. We provide customers who want premium international coverage with products and services to access the healthcare they need anytime, anywhere in the world, whether at home or when studying, living, travelling or working abroad.</p>
                        <p>Bupa Global has offices around the world including London and Brighton (UK), Miami (USA), Copenhagen (Denmark), Dubai (UAE, in partnership with OIC), and Hong Kong (China) as well as regional offices in mainland China, Singapore, Egypt, Mexico, the Dominican Republic, Bolivia, Brazil, Panama, Guatemala and Ecuador.</p>
                        <h4>Focused on Bupa Global customers</h4>
                        <p>By sharing our extensive knowledge and experience with you, we can help protect your health and wellbeing, whatever your individual circumstances.</p>
                        <p>We care for the lives in our hands, and are dedicated to providing all the insurance services, help and advice you need to keep yourself and your family in the best of health. Our dedicated team respects everyone's individuality, culture, privacy and dignity, and aims to provide a personal service you can rely on throughout your Bupa Global membership.</p>
                        <h4>Awards and recognition</h4>
                        <p>Bupa Global won the Queen's Award for Enterprise in the International Trade Category in 2010 for its continued substantial growth in overseas earnings and commercial success. This is the third time we have won a Queen's Award for outstanding achievement having been a previous winner in 2005 and 1999.</p>
                        <p>In 2009, we were delighted to receive the Best International Private Medical Insurance Provider award at the UK's Health Insurance Awards, for the fourth year running and ninth time since 1999.</p>
                        <p>We were also delighted to be recognised for our healthcare insurance services by receiving the FT Business Offshore Excellence Award in 2000.</p>                        
                        <h4>Moving forwards</h4>
                        <p>In order to continue to be the world leader in health insurance, we invest time and money in continually developing our systems, products, property, people and technology. We work with hospitals and clinics all over the globe, negotiating exclusive rates and service agreements that give our customers access to the care they need. We also work with a network of intermediaries and partners constantly to enhance our services, products and communications.</p>
                        <p>It is our aim to provide individuals and companies all over the world with a healthcare insurance service that is second to none.</p>
                        <h4>The Bupa Global difference</h4>
                        <p>Over 40 years of medical expertise and dedication to health. A global team of advisers and health experts who, between them, speak multiple languages – and a service that exceeds expectations. These are just a few of the things that make Bupa Global different. Explore how we provide you with world-class cover and stand apart from the rest.</p>
                        <p>Our health plans support individuals, families and businesses who are looking for the highest level of cover available from Bupa.</p>
                        <p>We provide our customers with premium international coverage with a range of exceptional products and services, giving them direct access to world-leading specialists and medical providers, at home or abroad.</p>
                        <p>Our founders were medical professionals. Their focus on quality care and service still drives all that we do today. Bupa continues to remain free of shareholders, re-investing profits back into our healthcare services around the world. This means our focus is on the needs and care of our customers and it fuels our drive to improve our services and offering access to cutting-edge care.</p>
                        <p>With over 70 years of medical expertise, we’re dedicated to helping you live longer, healthier, happier lives and making a better world.</p>                    
                        <h4>Richness of cover</h4>
                        <p>With Bupa Global your health plan travels with you, providing you with the same level of cover whether at home or abroad. If the treatment you need isn't available where you are, we can evacuate you to a hospital where you can receive the treatment you need.</p>
                        <p>Our plans provide a truly private health journey with direct access to any recognised private provider, clinic or hospital in the world without having to wait for a GP referral, including in-hospital cover for private rooms at renowned facilities such as London’s Harley Street and <a href="https://www.cromwellhospital.com/">Cromwell Hospital.</a></p>
                        <h4>Making a positive impact</h4>
                        <p>Along with our colleagues, clients and customers, Bupa is on a journey to help make a better world. We’re committed to doing all we can, environmentally and in our communities, to make a positive difference. Whether the impact is felt thousands of miles away or on our own doorstep, we’ll never stop working towards a healthier future for all.</p>
                        <p>As part of our aim to improve the health of people and the planet, Bupa’s ambition is to become a <a href="https://www.bupa.com/newsroom/news/bupa-announces-science-based-targets">Net Zero business by 2040</a>, and we have joined the <a href="https://www.bupa.com/newsroom/news/bupa-announces-science-based-targets">UN’s Race to Zero campaign</a>.</p>
                        <p>Alongside sustainability, we also consider broader social aspects such as inclusion and diversity, and employee health and wellbeing. At Bupa, we strive to create an environment which recognises, values and respects the differences we all bring.</p>
                        <a href="https://www.bupa.com/sustainability">https://www.bupa.com/sustainability</a>
                        <p>Private Client by Bupa</p>
                        <p>Private Client by Bupa is a premium service providing expertly curated health and wellbeing plans insured by Bupa Global, bringing them together in one simple package with one single point of contact.</p>
                        <p><a href="https://www.bupaprivateclient.com/en">https://www.bupaprivateclient.com/en</a></p>
                        <p><a href="https://www.bupaprivateclient.com/en/newsroom">https://www.bupaprivateclient.com/en/newsroom</a></p>
                    </div>
                </main>
            }
            else if (openPanel == "investor")
            {
                <header class="header header-sticky">
                    <div class="header-content">
                        <div class="left-content">
                            <a class="back-btn pf-icon d-flex align-items-center text-light py-3 pe-3" @onclick="ClosePanel" @onclick:preventDefault>
                                <i class="fas fa-arrow-left fs-5"></i>
                            </a>
                        </div>
                        <div class="mid-content"><h6 class="title">Investor</h6></div>
                        <div class="right-content">
                            <NavLink href="/" class="pf-icon fs-5 icon-sm text-light py-3 ps-3"><i class="fas fa-home fs-5"></i></NavLink>
                        </div>
                    </div>
                </header>
                <main class="page-content">
                    <div class="image-holder">
                        <div class="image-container mb-3" style="background-image: url(images/monaco/monaco-yatching-img2.jpg);"></div>
                    </div>
                    <div class="container content-section">
                        <h3>Apex Invest & Investor Media are delighted to invite you to attend our event 18th and 19th November 2024</h3>
                        <p>A two-days event with panel presentations on traditional and alternative investments, real estate, wealth management and luxury assets followed by networking and evening receptions.</p>
                        <div class="p-3 bg-light">
                            <h5>Venue: Hilton, Yas Island, Abu Dhabi</h5>
                            <p>Our event venue is an exquisite waterfront luxury hotel at Yas Island Abu Dhabi, one of the world's most exciting and exotic travel destinations.</p>
                            <p>To confirm your attendance, please rsvp: Xavier Calloc'h xavier@investor-media.com</p>
                            <p><b>Contact details and profession required and you will receive your personal invitation.</b></p>
                            <p>Solely confirmed guests will be permitted to attend the event</p>
                        </div>
                    </div>
                </main>
            }
        </div>
    </div>
}

<div class="container content-section">
    <h4><em>The Bupa Global difference </em></h4>
    <p>Over 40 years of medical expertise and dedication to health. A global team of advisers and health experts who, between them, speak multiple languages – and a service that exceeds expectations. These are just a few of the things that make Bupa Global different. Explore how we provide you with world-class cover and stand apart from the rest. </p>
    <p>Our health plans support individuals, families and businesses who are looking for the highest level of cover available from Bupa.</p>
    <p>We provide our customers with premium international coverage with a range of exceptional products and services, giving them direct access to world-leading specialists and medical providers, at home or abroad.</p>
    <p>Our founders were medical professionals. Their focus on quality care and service still drives all that we do today. Bupa continues to remain free of shareholders, re-investing profits back into our healthcare services around the world. This means our focus is on the needs and care of our customers and it fuels our drive to improve our services and offering access to cutting-edge care.</p>
    <p>With over 70 years of medical expertise, we’re dedicated to helping you live longer, healthier, happier lives and making a better world.</p>
</div>
@code {
    private string activeTab = "";//events
    private string? openPanel = null;
    private bool isClosingPanel = false;

    private readonly HashSet<string> tabsToHideList = new() { "events", "investor", "yachting", "luxury", "tourist" };

    private string GetListVisibility()
    {
        return string.IsNullOrEmpty(activeTab) || !tabsToHideList.Contains(activeTab)
        ? ""
        : "display: none;";
    }

    //void ShowTab(string tab) => activeTab = tab;
    async void ShowTab(string tab)
    {
        activeTab = tab ?? "";

        // Delay to allow Blazor to render new tab content
        await Task.Delay(50);

        // Re-initialize swiper after render
        await JS.InvokeVoidAsync("initSwiper");
    }

    void OpenPanel(string panelName)
    {
        openPanel = panelName;
        isClosingPanel = false;
    }

    async void ClosePanel()
    {
        isClosingPanel = true;
        StateHasChanged(); // Trigger UI update to apply "slide-out"

        await Task.Delay(300); // Match CSS animation time
        openPanel = null;
        isClosingPanel = false;
        StateHasChanged(); // Refresh after closing
    }

    string GetTabClass(string tab) => activeTab == tab ? "active-tab" : "";

    string GetSubtitle()
    {
        return activeTab switch
        {
            "events" => " / Events",
            "investor" => " / Investor",
            "yachting" => " / Yachting",
            "luxury" => " / Luxury",
            "tourist" => " / Tourist",
            _ => ""
        };
    }
}


@inject IJSRuntime JS

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initSwiper");
        }
    }
}