@inject IJSRuntime JS
@implements IAsyncDisposable

@using MauiApp1.Services
@using MauiApp1.Components.Layout
@inherits LayoutComponentBase
@inject NavigationManager NavManager
@inject UserLocationService LocationService

<div class="page-wrapper full-height">
    @if (!hideHeader)
            {
        <header class="header header-fixed">
            <div class="header-content">
                <div class="left-content">
                    <div class="gap-2 pt-2">
                        <img src="images/im_logo.svg" alt="logo" class="header-logo" />
                        <div class="text-muted fw-bold mt-2 lh-1 fs-4"> IM World</div>
                    </div>                    
                </div>
                <div class="mid-content"></div>
                <div class="right-content position-relative d-flex align-items-center">
                                        
                @if (!hideHeaderAndWhatsApp)
                    {
                        <span class="btn btn-light btn-sm">@_country</span>
                        @* <a class="btn text-light btn-dark btn-sm ms-1" @onclick="() => showDialog = true"><i class="fas fa-calculator fs-4"></i></a> *@
                        <a class="btn btn-light btn-sm ms-1" @onclick="ShowTools"><i class="fas fa-calculator fs-4 me-2"></i>Calculate</a>
                            @* <button class="btn btn-success" @onclick="ShowTools">Open Yacht Tools</button> *@
                        <!-- Dropdown container -->
                        <div class="moreOption-wrapper ms-1" id="dropdownArea">
                            <a class="btn btn-light btn-sm px-3" @onclick="ToggleDropdown">
                                <i class="fas fa-ellipsis-v fs-4"></i>
                            </a>

                            @if (showDropdown)
                            {
                                <ul class="moreOption-dropdown" id="dropdownMenu">
                                    <li @onclick="NavigateToDetails">
                                        <i class="fas fa-info-circle me-2"></i> Details
                                    </li>
                                    <li @onclick="NavigateToCertificates">
                                        <i class="fas fa-certificate me-2"></i> View my Certificates
                                    </li>
                                    <li @onclick="NavigateToCertificates">
                                        <i class="fas fa-certificate me-2"></i> My saved article
                                    </li>
                                    <li @onclick="Logout">
                                        <i class="fas fa-sign-out-alt me-2"></i> Logout
                                    </li>
                                </ul>
                            }
                        </div>
                    }
                    else
                    {
                    @* <div class="text-start">
                        <p class="fw-bold text-muted m-0">Hi,</p>
                        <div class="fw-bold">User name</div>
                    </div> *@
                    }
                </div>
            </div>
            <div class="header-curv"></div>
        </header>        
    }
    <main class="page-content space-top space-bottom">
        <article class="position-relative page-transition @transitionClass">
            @if (!hideWhatsApp)
            {
                <div class="input-group whatsapp-btn py-4 py-2">
                    <a href="https://api.whatsapp.com/send/?phone=%2B447979213225&amp;text=please+invite+me+to+the+Dubai+event&amp;type=phone_number&amp;app_absent=0" target="_blank" class="btn btn-success d-flex align-items-center"><i class="fab fa-whatsapp fs-10 me-2"></i>Please invite me to the event</a>
                </div>
            }
            @Body
        </article>
        @if (!hideHeaderAndWhatsApp)
        {
            @* <YachtEmissionDialog IsOpen="@showDialog" OnClose="@(() => showDialog = false)" />
            <YachtToolsTabs OnClose="@(() => showTools = false)" style="@(!showTools ? "display:none;" : "")" /> *@
        }
        @* @if (showToolsDialog)
        {
            <YachtToolsTabs OnClose="HideTools" />
            <YachtToolsTabs class="my-modal" style="z-index: 1050;" OnClose="HideTools" />
        } *@
        @if (showToolsDialog)
        {
            <div class="modal d-block" style="background-color: rgba(0,0,0,0.5); z-index: 1050;">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content p-4">
                        <YachtToolsTabs OnClose="HideTools" />
                    </div>
                </div>
            </div>
        }
    </main>
    @if (!hideHeaderAndWhatsApp)
    {
        @* <footer class="menubar-area footer-fixed bottom-tabs">
            <div class="header-curv"></div>
            <div class="toolbar-inner menubar-nav bottom-scroll-tab">
            <NavLink href="/home" class="tab nav-link" activeClass="active-tab" Match="NavLinkMatch.All">
                <i class="fas fa-newspaper fs-8"></i> News
                </NavLink>
            <NavLink href="/dubai" class="tab nav-link" activeClass="active-tab">
                <i class="far fa-calendar-alt fs-8"></i> Event
                </NavLink>
            <NavLink href="/dubai" class="tab nav-link" activeClass="active-tab">
                <i class="fas fa-tv fs-8"></i> TV
                </NavLink>
            <NavLink href="/dubai" class="tab nav-link" activeClass="active-tab">
                <i class="fas fa-edit fs-8"></i> Editorial
                </NavLink> *@
            @* <NavLink href="/singapore" class="tab nav-link" activeClass="active-tab">
                <img src="images/icon/invest.svg" />
                <i class="fas fa-euro-sign fs-10"></i> Invest
            </NavLink>
            <NavLink href="/monaco" class="tab nav-link" activeClass="active-tab">
                <img src="images/icon/yatch.svg" />
                <i class="fas fa-ship fs-10"></i> Yatching
                </NavLink> *@
        @* </div>
    </footer> *@
    }
</div>
@code {
    private string transitionClass = "";
    private string _country;
    // private bool showDialog = false;
    private bool hideHeaderAndWhatsApp = false; //hideHeaderAndWhatsApp
    private bool hideHeader = false;
    private bool hideWhatsApp = false;
    private bool showToolsDialog = false;

    protected override async Task OnInitializedAsync()
    {

        // Detect current route
        UpdateVisibility();//hideHeaderAndWhatsApp

        NavManager.LocationChanged += (_, __) =>
        {
            transitionClass = "slide-in";
            UpdateVisibility();//hideHeaderAndWhatsApp
            StateHasChanged();
        };
        await FetchLocation();

        var storedUsername = await SecureStorage.GetAsync("email");

        if (!string.IsNullOrEmpty(storedUsername))
        {
            NavManager.NavigateTo("/verify");
        }

    }

    //Dropdown
    private bool showDropdown = false;
    private DotNetObjectReference<MainLayout>? dotNetRef;

    private async void ToggleDropdown()
    {
        showDropdown = !showDropdown;

        if (showDropdown)
        {
            dotNetRef?.Dispose(); // dispose any existing reference
            dotNetRef = DotNetObjectReference.Create(this);
            await JS.InvokeVoidAsync("dropdownHelper.registerOutsideClick", "dropdownArea", dotNetRef);
        }
    }

    [JSInvokable]
    public void CloseDropdown()
    {
        showDropdown = false;
        StateHasChanged();
    }

    private void NavigateToDetails()
    {
        showDropdown = false;
        NavManager.NavigateTo("/details");
    }

    private void NavigateToCertificates()
    {
        showDropdown = false;
        NavManager.NavigateTo("/certificates");
    }

    private void Logout()
    {
        showDropdown = false;
        SecureStorage.Remove("email"); // remove username
        SecureStorage.Remove("mpin");
        SessionManager.ClearAuthentication();
        NavManager.NavigateTo("/login", true);
    }

    public async ValueTask DisposeAsync()
    {
        dotNetRef?.Dispose();
    }
    //hideHeaderAndWhatsApp
    private void UpdateVisibility()
    {
        var currentUri = NavManager.Uri.ToLower();
        hideHeaderAndWhatsApp = currentUri.Contains("/login") || currentUri.Contains("/verify") || currentUri.Contains("/certificates") || currentUri.Contains("/certificatesGroup") || currentUri.Contains("/details") || currentUri.Contains("/newsexpand");
        hideHeader = currentUri.Contains("/certificates") || currentUri.Contains("/certificatesGroup") || currentUri.Contains("/templatecontent") || currentUri.Contains("/newsexpand");
        hideWhatsApp = currentUri.Contains("/login") || currentUri.Contains("/verify") || currentUri.Contains("/certificates") || currentUri.Contains("/certificatesGroup") || currentUri.Contains("/details") || currentUri.Contains("/countrydata") || currentUri.Contains("/eventsdata") || currentUri.Contains("/templatecontent") || currentUri.Contains("/newsexpand");
    }

    private async Task FetchLocation()
    {
        var _location = await LocationService.GetUserLocationAndCountryAsync();
        _country = _location.Country;
    }

    private void ShowTools()
    {
        showToolsDialog = true;
        StateHasChanged(); // optional
    }

    private void HideTools()
    {
        showToolsDialog = false;
        StateHasChanged(); // optional
    }

}
